<a href="https://colab.research.google.com/github/andresalerno/datacamp_python/blob/main/data_manipulation_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Chapter 1

## 1.1) Setting up

In [4]:
!pip install PyDrive

Requirement already satisfied: PyDrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (1.7.12)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.15.0)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.1)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.17.2)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.0.4)
Requirement already satisfied: httplib2<1dev,>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.17.4)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (4.6)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.8)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (4.2.0)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (51.1.1)

In [5]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [6]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [7]:
downloaded = drive.CreateFile({'id':"1-Cd70bB4NKbeiLj_QzJ_l5sqWhbuoYN-"})   # replace the id with id of file you want to access
downloaded.GetContentFile('homelessness.csv')        # replace the file name with your file

In [8]:
import pandas as pd
homelessness = pd.read_csv('homelessness.csv')

In [9]:
homelessness.head()

   Unnamed: 0              region  ... family_members  state_pop
0           0  East South Central  ...          864.0    4887681
1           1             Pacific  ...          582.0     735139
2           2            Mountain  ...         2606.0    7158024
3           3  West South Central  ...          432.0    3009733
4           4             Pacific  ...        20964.0   39461588

[5 rows x 6 columns]

# Chapter 1

In [10]:
# Print the column index of homelessness
print(homelessness.columns)

Index(['Unnamed: 0', 'region', 'state', 'individuals', 'family_members',
       'state_pop'],
      dtype='object')

In [11]:
# Print the row index of homelessness
print(homelessness.index)

RangeIndex(start=0, stop=51, step=1)

In [12]:
print(homelessness.shape)

(51, 6)

In [13]:
# Select the individuals column
individuals = homelessness["individuals"]

# Print the head of the result
print(individuals.head())

0      2570.0
1      1434.0
2      7259.0
3      2280.0
4    109008.0
Name: individuals, dtype: float64

In [14]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = homelessness[homelessness["individuals"] > 10000]

# See the result
print(ind_gt_10k)

    Unnamed: 0              region  ... family_members  state_pop
4            4             Pacific  ...        20964.0   39461588
9            9      South Atlantic  ...         9587.0   21244317
32          32        Mid-Atlantic  ...        52070.0   19530351
37          37             Pacific  ...         3337.0    4181886
43          43  West South Central  ...         6111.0   28628666
47          47             Pacific  ...         5880.0    7523869

[6 rows x 6 columns]

In [15]:
# Add total col as sum of individuals and family_members
homelessness['total'] = homelessness['individuals'] + homelessness['family_members']

# Add p_individuals col as proportion of individuals
homelessness['p_individuals'] = homelessness['individuals'] / homelessness['total']

# See the result
print(homelessness)

    Unnamed: 0              region  ...     total  p_individuals
0            0  East South Central  ...    3434.0       0.748398
1            1             Pacific  ...    2016.0       0.711310
2            2            Mountain  ...    9865.0       0.735834
3            3  West South Central  ...    2712.0       0.840708
4            4             Pacific  ...  129972.0       0.838704
5            5            Mountain  ...   10857.0       0.700654
6            6         New England  ...    3976.0       0.573441
7            7      South Atlantic  ...    1082.0       0.654344
8            8      South Atlantic  ...    6904.0       0.546060
9            9      South Atlantic  ...   31030.0       0.691041
10          10      South Atlantic  ...    9499.0       0.730919
11          11             Pacific  ...    6530.0       0.632619
12          12            Mountain  ...    2012.0       0.644632
13          13  East North Central  ...   10643.0       0.634408
14          14  East North Central  ...    5258.0       0.718144
15          15  West North Central  ...    2749.0       0.622408
16          16  West North Central  ...    2216.0       0.651173
17          17  East South Central  ...    3688.0       0.741594
18          18  West South Central  ...    3059.0       0.830337
19          19         New England  ...    2516.0       0.576312
20          20      South Atlantic  ...    7144.0       0.687850
21          21         New England  ...   20068.0       0.339396
22          22  East North Central  ...    8351.0       0.623758
23          23  West North Central  ...    7243.0       0.551291
24          24  East South Central  ...    1352.0       0.757396
25          25  West North Central  ...    5883.0       0.641849
26          26            Mountain  ...    1405.0       0.699644
27          27  West North Central  ...    2421.0       0.720777
28          28            Mountain  ...    7544.0       0.935578
29          29         New England  ...    1450.0       0.575862
30          30        Mid-Atlantic  ...    9398.0       0.643541
31          31            Mountain  ...    2551.0       0.764014
32          32        Mid-Atlantic  ...   91897.0       0.433387
33          33      South Atlantic  ...    9268.0       0.696051
34          34  West North Central  ...     542.0       0.861624
35          35  East North Central  ...   10249.0       0.676066
36          36  West South Central  ...    3871.0       0.729269
37          37             Pacific  ...   14476.0       0.769481
38          38        Mid-Atlantic  ...   13512.0       0.604130
39          39         New England  ...    1101.0       0.678474
40          40      South Atlantic  ...    3933.0       0.783626
41          41  West North Central  ...    1159.0       0.721311
42          42  East South Central  ...    7883.0       0.778764
43          43  West South Central  ...   25310.0       0.758554
44          44            Mountain  ...    2876.0       0.662031
45          45         New England  ...    1291.0       0.604183
46          46      South Atlantic  ...    5975.0       0.657406
47          47             Pacific  ...   22304.0       0.736370
48          48      South Atlantic  ...    1243.0       0.821400
49          49  East North Central  ...    4907.0       0.558386
50          50            Mountain  ...     639.0       0.679186

[51 rows x 8 columns]

# Chapter 2

In [16]:
downloaded = drive.CreateFile({'id':"1-Yb4vLGr1JIpGfxCf0snrWnXfi9D4YA8"})   # replace the id with id of file you want to access
downloaded.GetContentFile('sales.csv')        # replace the file name with your file

In [17]:
import pandas as pd
sales = pd.read_csv('sales.csv')

In [18]:
# Print the head of the sales DataFrame
print(sales.head())

# Print the info about the sales DataFrame
print(sales.info())

# Print the mean of weekly_sales
print(sales["weekly_sales"].mean())

# Print the median of weekly_sales
print(sales["weekly_sales"].median())

   Unnamed: 0  store type  ...  temperature_c fuel_price_usd_per_l  unemployment
0           0      1    A  ...       5.727778             0.679451         8.106
1           1      1    A  ...       8.055556             0.693452         8.106
2           2      1    A  ...      16.816667             0.718284         7.808
3           3      1    A  ...      22.527778             0.748928         7.808
4           4      1    A  ...      27.050000             0.714586         7.808

[5 rows x 10 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10774 non-null  int64
 1   store                 10774 non-null  int64
 2   type                  10774 non-null  object
 3   department            10774 non-null  int64
 4   date                  10774 non-null  object
 5   weekly_sales          10774 non-null  float64
 6   is_holiday            10774 non-null  bool
 7   temperature_c         10774 non-null  float64
 8   fuel_price_usd_per_l  10774 non-null  float64
 9   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 768.2+ KB
None
23843.950148505668
12049.064999999999

In [19]:
# Print the maximum of the date column
print(sales["date"].max())

# Print the minimum of the date column
print(sales["date"].min())

2012-10-26
2010-02-05

In [20]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales["temperature_c"].agg(iqr))

16.58333333333334

In [21]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg(iqr))

temperature_c           16.583333
fuel_price_usd_per_l     0.073176
unemployment             0.565000
dtype: float64

In [22]:
# Import NumPy and create custom IQR function
import numpy as np
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr, np.median]))

        temperature_c  fuel_price_usd_per_l  unemployment
iqr         16.583333              0.073176         0.565
median      16.966667              0.743381         8.099

In [23]:
# Sort sales_1_1 by date
sales_1_1 = sales.sort_values("date")

# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales_1_1["cum_weekly_sales"] = sales_1_1["weekly_sales"].cumsum()

# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales_1_1["cum_max_sales"] = sales_1_1["weekly_sales"].cummax()

# See the columns you calculated
print(sales_1_1[["date", "weekly_sales", "cum_weekly_sales", "cum_max_sales"]])

             date  weekly_sales  cum_weekly_sales  cum_max_sales
0      2010-02-05      24924.50      2.492450e+04       24924.50
6437   2010-02-05      38597.52      6.352202e+04       38597.52
1249   2010-02-05       3840.21      6.736223e+04       38597.52
6449   2010-02-05      17590.59      8.495282e+04       38597.52
6461   2010-02-05       4929.87      8.988269e+04       38597.52
...           ...           ...               ...            ...
3592   2012-10-05        440.00      2.568932e+08      293966.05
8108   2012-10-05        660.00      2.568938e+08      293966.05
10773  2012-10-05        915.00      2.568947e+08      293966.05
6257   2012-10-12          3.00      2.568947e+08      293966.05
3384   2012-10-26        -21.63      2.568947e+08      293966.05

[10774 rows x 4 columns]

In [24]:
# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset=["store", "type"])
print(store_types.head())

# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset=["store", "department"])
print(store_depts.head())

# Subset the rows where is_holiday is True and drop duplicate dates
holiday_dates = sales[sales["is_holiday"]].drop_duplicates(subset="date")

# Print date col of holiday_dates
print(holiday_dates)

      Unnamed: 0  store type  ...  temperature_c fuel_price_usd_per_l  unemployment
0              0      1    A  ...       5.727778             0.679451         8.106
901          901      2    A  ...       4.550000             0.679451         8.324
1798        1798      4    A  ...       6.533333             0.686319         8.623
2699        2699      6    A  ...       4.683333             0.679451         7.259
3593        3593     10    B  ...      12.411111             0.782478         9.765

[5 rows x 10 columns]
    Unnamed: 0  store type  ...  temperature_c fuel_price_usd_per_l  unemployment
0            0      1    A  ...       5.727778             0.679451         8.106
12          12      1    A  ...       5.727778             0.679451         8.106
24          24      1    A  ...       5.727778             0.679451         8.106
36          36      1    A  ...       5.727778             0.679451         8.106
48          48      1    A  ...       5.727778             0.679451         8.106

[5 rows x 10 columns]
      Unnamed: 0  store type  ...  temperature_c fuel_price_usd_per_l  unemployment
498          498      1    A  ...      25.938889             0.677602         7.787
691          691      1    A  ...      15.633333             0.854861         7.866
2315        2315      4    A  ...      -1.755556             0.679715         8.623
6735        6735     19    A  ...      22.333333             1.076766         8.193
6810        6810     19    A  ...      -1.861111             0.881278         8.067
6815        6815     19    A  ...       0.338889             1.010723         7.943
6820        6820     19    A  ...      20.155556             1.038197         7.806

[7 rows x 10 columns]

In [25]:
# Count the number of stores of each type
store_counts = store_types["type"].value_counts()
print(store_counts)

# Get the proportion of stores of each type
store_props = store_types["type"].value_counts(normalize=True)
print(store_props)

# Count the number of each department number and sort
dept_counts_sorted = store_depts["department"].value_counts(sort=True)
print(dept_counts_sorted)

# Get the proportion of departments of each number and sort
dept_props_sorted = store_depts["department"].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

A    11
B     1
Name: type, dtype: int64
A    0.916667
B    0.083333
Name: type, dtype: float64
41    12
30    12
23    12
24    12
25    12
      ..
37    10
48     8
50     6
39     4
43     2
Name: department, Length: 80, dtype: int64
41    0.012917
30    0.012917
23    0.012917
24    0.012917
25    0.012917
        ...
37    0.010764
48    0.008611
50    0.006459
39    0.004306
43    0.002153
Name: department, Length: 80, dtype: float64